<a href="https://colab.research.google.com/github/LeonardoZanol/cienciadosdadosparatomadasdedecicoes/blob/master/Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>CIÊNCIA DOS DADOS PARA TOMADAS DE DECISÕES</b></h1>
<h2><b>Atividade: Aplicação Prática de Python na Ciência dos Dados</b></h2>
<h3><b>Professor: </b>Sergio Ricardo.</h3>
<h3><b>Alunos: </b>Gustavo Marcelo Rossi, Kauann Andreade Gnoatto e Leonardo Zanol Zianni.</h3>
<h3><b>O Problema da Empresa:</b></h3>
<p>Nosso cliente é uma empresa de cartão de crédito. Eles nos trouxeram um dataset que inclui dados demográficos e dados financeiros recentes (últimos seis meses) de uma amostra de 30.000 titulares de contas. Esses dados estão no nível de conta de crédito; em outras palavras, há uma linha para cada conta (você deve sempre esclarecer qual é a definição de linha, em um dataset). As linhas são rotuladas de acordo com se no mês seguinte ao período de dados histórico de seis meses um proprietário de conta ficou inadimplente, ou seja, não fez o pagamento mínimo.</p>

<h2><b>Configurações Iniciais:</b></h2>

In [2]:
import pandas as pd

df = pd.read_excel('/content/default_of_credit_card_clients__courseware_version_1_21_19.xls')

<h3><b>1.   Saber quantas colunas os dados contêm. (Podem ser de características, resposta ou metadados).</b></h3>
<p><b>Resposta: </b>Foi possível obter a quantidade de colunas do dataset utilizando o comando <b>len(df.columns).</b></p>

In [3]:
print('Colunas: ', len(df.columns))

Colunas:  25

<h3><b>2. Quantas linhas (amostras).</b></h3>
<p><b>Resposta: </b>Foi possível obter a quantidade de linhas do dataset utilizando o comando: <b>len(df).</b></p>

In [4]:
print('Linhas: ', len(df))

Linhas:  30000

<h3><b>3. Que tipos de características existem. Quais são categóricas e quais são numéricas? (Os valores das características categóricas pertencem a classes discretas como “sim”, “não” ou “talvez”. Normalmente as características numéricas pertencem a uma escala numérica contínua, como as quantias em dólares).</b></h3>
<p><b>Resposta: </b>Neste dataset, existem os seguintes tipos de características:</p>
<p><b>Categóricas: </b>SEX, EDUCATION, MARRIAGE, PAY_1, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, default payment next month.</p>
<p><b>Numéricas: </b>... Adicionar Restante</p>

In [5]:
identificacao = ['ID']
categoricas = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'default payment next month']
numericas = df.drop(columns=categoricas + identificacao).columns.tolist()

print('Características de Identificação: ', identificacao)
print('Características Categóricas: ', categoricas)
print('Características Numéricas: ', numericas)

Características de Identificação:  ['ID']
Características Categóricas:  ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'default payment next month']
Características Numéricas:  ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

<h3><b>4. Qual é a aparência dos dados segundo essas características. (Para saber isso, você pode examinar o intervalo de valores em características numéricas ou a frequência de classes diferentes em características categóricas, por exemplo).</b></h3>
<p><b>Resposta:</b> Para visualizar a aparência dos dados segundo as características, foram utilizados os seguintes comandos:</p>

<p><b>Características Categóricas:</b></p>
<p>O método <b>value_counts()</b> foi aplicado a cada coluna categórica do dataset para exibir a frequência de cada valor distinto presente nessas colunas.<p>

In [6]:
for coluna in categoricas:
  print(f'Frequência Coluna: {df[coluna].value_counts().to_string()}\n')

Frequência Coluna: SEX
2    17910
1    11775
0      315

Frequência Coluna: EDUCATION
2    13884
1    10474
3     4867
0      329
5      275
4      122
6       49

Frequência Coluna: MARRIAGE
2    15810
1    13503
0      369
3      318

Frequência Coluna: PAY_1
0                13402
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2378
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9

Frequência Coluna: PAY_2
 0    15878
-1     5989
 2     3878
-2     3746
 3      325
 4       99
 1       28
 5       24
 7       20
 6       12
 8        1

Frequência Coluna: PAY_3
 0    15914
-1     5869
-2     4046
 2     3782
 3      237
 4       74
 7       27
 6       23
 5       21
 1        4
 8        3

Frequência Coluna: PAY_4
 0    16600
-1     5624
-2     4309
 2     3121
 3      180
 4       66
 7       57
 5       34
 6        5
 1        2
 8        2

Frequência Coluna: PAY_5
 0    17069
-1     5488
-2     4503
 2     2603
 3      177
 4       81
 7       57
 5       17
 6        4
 8        1

Frequência Coluna: PAY_6
 0    16408
-1     5686
-2     4849
 2     2749
 3      181
 4       48
 7       45
 6       19
 5       13
 8        2

Frequência Coluna: default payment next month
0    23438
1     6562

<p><b>Características Numéricas:</b></p>
<p>Selecionando todas as colunas numéricas do dataset, foi utilizado o método <b>describe()</b>, assim sendo possível visualizar os intervalos de valores e estatísticas de cada coluna.<p>

In [7]:
df[numericas].describe()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000
mean,165760.989333,35.108800,50646.744233,48624.349167,4.649736e+04,42791.362167,39884.398167,38480.350933,5613.321500,5.855410e+03,5174.387967,4776.089733,4754.749200,5164.223267
std,130158.590432,9.851592,73376.695080,70893.963498,6.910251e+04,64090.316188,60606.644833,59406.836932,16539.094312,2.299256e+04,17565.538305,15532.893047,15239.070708,17712.664703
min,0.000000,0.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,28.000000,3234.000000,2682.000000,2.403000e+03,2034.000000,1534.000000,1080.000000,836.000000,7.217500e+02,371.000000,223.000000,170.750000,9.000000
50%,140000.000000,34.000000,21644.500000,20597.000000,1.975250e+04,18759.500000,17835.500000,16643.000000,2084.500000,2.000000e+03,1776.000000,1500.000000,1500.000000,1500.000000
75%,240000.000000,41.000000,66148.500000,62999.750000,5.952675e+04,53572.250000,49804.000000,48863.500000,5000.000000,5.000000e+03,4500.000000,4000.000000,4000.000000,4000.000000
max,1000000.000000,79.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000

<h3><b>5. Existem dados faltando?</b></h3>

<p><b>Responsta: </b>Sim, existem dados faltando na coluna PAY_1, analisando o retorno das características categóricas no passo anterior, foi verificado que existiam alguns valores com Not avaible.</p>
<p>Dessa forma foi executado o comando abaixo para verificar se existiam valores nulos ou com Not avaible dentro do dataset:</p>

In [8]:
print(((df == 'Not available') | (df == ' ')).sum().to_string())

ID                               0
LIMIT_BAL                        0
SEX                              0
EDUCATION                        0
MARRIAGE                         0
AGE                              0
PAY_1                         3021
PAY_2                            0
PAY_3                            0
PAY_4                            0
PAY_5                            0
PAY_6                            0
BILL_AMT1                        0
BILL_AMT2                        0
BILL_AMT3                        0
BILL_AMT4                        0
BILL_AMT5                        0
BILL_AMT6                        0
PAY_AMT1                         0
PAY_AMT2                         0
PAY_AMT3                         0
PAY_AMT4                         0
PAY_AMT5                         0
PAY_AMT6                         0
default payment next month       0